* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(58, 57, 57, 0.473);
    text-align: center;
}

.about {
    background-color: rgba(223, 215, 215, 0.733);
}

.socialLinks a {
    text-decoration: none;
}

.projects {
    background-color: rgba(223, 215, 215, 0.733);
}

h1 {
    font-family: 'Archivo Black';
}

.myUl {
    font-family: 'Almarai';
    text-align: start;
}

h3 {
    font-family: 'Almarai';
}